/* SlideInComponent.css */
.slide-in-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-in-box {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.slide-in {
  opacity: 1;
  transform: translateX(0);
}
